/* responsive css */
@media screen and (max-width: 576px) {
  /* reusbale css */
  .hidden {
    display: none;
  }

  /* ------------------ */
  header nav {
    width: 361px;
    /* flex-direction: column; */
    gap: 185px;
    margin: 67px 16px 28px 16px;
  }
  nav img {
    width: 63px;
    height: 38px;
  }

  /* HERO SECTION */
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section-left {
    width: 307px;
    margin: 0px;
  }
  .hero-section-left h1 {
    text-align: left;
    font-size: 24px;
  }

  .hero-section-left p {
    text-align: left;
    font-size: 14px;
  }

  /* our plan */
  .our-plants h2 {

  font-size: 24px;
        margin: -50px 0px 16px 0px;
}
.our-plants p {
  font-size: 14px;
  margin: 15px;
}
.our-plants p  br{
display: none;
}
.plant-items-parent {
  grid-template-columns: repeat(2, 170px);

}
.plant-item img {
  width: 171px;
  height:196px;
}
.plant-item h4, .plant-item h3{
  font-size: 16px;
}

}
