/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* global css----------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #111111;
  font-family: inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
  width: 100%;
}
.bold{
    font-weight: bold;
}
.second-clr{
    color: var(--secondary-color);
}
/* ----------------------- */
/* css root class */
:root{
    --primary-color:  #111111 ;
    --secondary-color: #8987A1;
}



/* reusable css */
.flex {
  display: flex;
  align-items: center;
}

/* header nav */
header nav {
  justify-content: space-around;
  margin: 30px 150px 120px 150px;
}

nav img {
  width: 135px;
  height: 82px;
}

.nav-links{
    gap: 48px;
    font-size: 16px;

}
